<footer>
  <nav>
    <a href="https://webpages.charlotte.edu/dwicher/">CLT Web</a> ||
    <a href="https://github.com/dwicher1" target="_blank">GitHub</a> ||
    <a href="https://github.com/dwicher1/dwicher1.github.io" target="_blank">GitHub.io</a> ||
    <a href="https://www.freecodecamp.org/dwicher" target="_blank">freeCodeCamp</a> ||
    <a href="https://www.codecademy.com/profiles/DWicher" target="_blank">Codecademy</a> ||
    <a href="https://www.linkedin.com/in/dylan-wicher/" target="_blank">LinkedIn</a>
  </nav>
  <p>
    Page built by <a href="wicherwebsolutions.co/" target="_blank" rel="noopener">Wicher Web Solutions</a> &copy; 2025
  </p>
</footer>
