<header>
    <h1>Dylan Wicher / Determined Wolf | ITIS3135</h1>
            <nav>
                <a href="./">Home</a> 
                ||
                <a href="introduction.html">Introduction</a> 
                ||
                <a href="contract.html">Contract</a>   
            </nav>
            <nav>
                <a href="">About</a> 
                ||
                <a href="">CRAPPY PAGE</a>
                ||
                <a href="hobby/index.html">Hobby</a>
                ||
                <a href="fccfsjs_outline.html">Full Stack JavaScript Outline</a>
                ||
                <a href="website_evaluations.html">Website Evaluations</a>
            </nav>
</header>